{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple social bookingmarking site. Or actually, a sample for a pluralsight course</p>
        </header>
        <section>
            <h2>Section 1</h2>
            <p>Section one sample text</p>
        </section>
        <section>
            <h2>Section 2</h2>
            <p>Section two sample text</p>
        </section>
    </article>
{% endblock %}
